<div class="flex h-screen flex-col items-center justify-center gap-20">
  <h1
    class="text-6xl font-black uppercase tracking-widest text-amber-300 md:text-8xl"
  >
    Squizz
  </h1>
  <div class="flex flex-col items-center gap-4">
    <a class="btn primary-btn" routerLink="/play">Start Game</a>
    <a class="btn primary-btn" routerLink="/quiz-management">Manage Quizzes</a>
    <a class="btn primary-btn" routerLink="/leaderboard">Leaderboard</a>
    @if (isLoggedIn$ | async) {
      <div class="flex flex-col gap-2 mt-10 items-center">
        @if (user$ | async; as user) {
          <p class="text-white md:text-xl">Logged in as <span
            class="font-bold text-amber-300">{{ user.username }}</span>
          </p>
        }
        <button class="btn login-btn" (click)="logout()">Logout</button>
      </div>
    } @else {
      <a class="btn login-btn mt-10" routerLink="/login">Login</a>
    }
  </div>
</div>
