@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="vh-100 d-flex align-items-center">
    <div class="container-fluid">
        <div class="row d-flex justify-content-center align-items-center h-100 gap-2">
            <div class="col-md-8 col-lg-6 col-xl-4">
                <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                    <div class="form-floating mb-4">
                        <input asp-for="Input.Email" class="form-control form-control-lg" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                        <label asp-for="Input.Email" class="form-label">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-4">
                        <input asp-for="Input.Password" class="form-control form-control-lg" autocomplete="new-password" aria-required="true" placeholder="password" />
                        <label asp-for="Input.Password" class="form-label">Password</label>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-lg" autocomplete="confirm-new-password" aria-required="true" placeholder="confirm password" />
                        <label asp-for="Input.ConfirmPassword" class="form-label">Confirm Password</label>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg px-3">
                            Register
                        </button>
                        <p class="small fw-bold mt-2 pt-1 mb-0">
                            Already have an account?
                            <a class="link-primary" asp-page="./Login" asp-route-returnUrl="@Model.ReturnUrl">Login</a>
                        </p>
                    </div>
                </form>
            </div>
            <div class="col-md-9 col-lg-6 col-xl-5 offset-xl-1">
                <img src="~/img/budget-logo-nobg.png" class="img-fluid p-5 overflow-hidden rounded-circle" alt="Budget logo" />
            </div>
        </div>
    </div>
</section>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
