@page
@model AuthenticationAndAuthorization.hasona23.Components.SleepTracker.EditModel

<h4>SleepRecordModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SleepRecordModel.Id" />
            <div class="form-group">
                
                <label asp-for="SleepRecordModel.StartTime" class="control-label"></label>
                <input asp-for="SleepRecordModel.StartTime" class="form-control" />
                <span asp-validation-for="SleepRecordModel.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                
                <label asp-for="SleepRecordModel.EndTime" class="control-label"></label>
                <input asp-for="SleepRecordModel.EndTime" class="form-control" />
                <span asp-validation-for="SleepRecordModel.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

