@model TransactionViewModel

<form asp-action="Create">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    
    <div class="row mb-3">
        <div class="col-2 d-flex align-items-center">
            <label asp-for="Name" class="form-label mb-0"></label>
        </div>
        <div class="col-10">
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 d-flex align-items-center">
            <label asp-for="Date" class="form-label mb-0"></label>
        </div>
        <div class="col-10">
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 d-flex align-items-center">
            <label asp-for="Amount" class="form-label mb-0"></label>
        </div>
        <div class="col-10">
            <input asp-for="Amount" class="form-control" />
            <span asp-validation-for="Amount" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-2 d-flex align-items-center">
            <label asp-for="CategoryId" class="form-label mb-0"></label>
        </div>
        <div class="col-10">
            <select asp-for="CategoryId" class="form-control" asp-items="@Model.Categories"></select>
        </div>
    </div>
    
    <input type="submit" value="Create" class="btn btn-primary" />
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
    
</form>
