@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    This is a movies App. This version is using NET identity!
    You will only be able to acess the movie details when you log in!
</div>
